<div class=" ">
	<form method="get">
	<h1 class="text-white">Dashboard</h1>
	<button class="btn btn-primary text-white m-4" asp-controller="Others" asp-action="GetEndUsers">Endusers</button>
	</form>

	<form method="get">
		<h1 class="text-white">Dashboard</h1>
		<button class="btn btn-primary text-white m-4" asp-controller="Hotel" asp-action="GetHotels">Hotels</button>
	</form><form method="get">
		<h1 class="text-white">Dashboard</h1>
		<button class="btn btn-primary text-white m-4" asp-controller="Food" asp-action="ListOfFoods">Foods</button>
	</form>
</div>
