@model FoodDto
<div class="container">
    <form method="post" asp-action="AddFoods">
        <h1>Register your account</h1>
        <div class="container pt-4">
            <div class="col">
                <div class="col-md-6 mb-3">
                    <label asp-for="FoodName" class="form-label"></label>
                    <input asp-for="FoodName" class="form-control border-1 rounded" />
                    <span asp-validation-for="FoodName" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <label asp-for="Description" class="form-label"></label>
                    <input asp-for="Description" class="form-control border-1 rounded" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <label asp-for="Amount" class="form-label"></label>
                    <input asp-for="Amount" class="form-control border-1 rounded" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <label asp-for="Cost" class="form-label"></label>
                    <input asp-for="Cost" class="form-control border-1 rounded" />
                    <span asp-validation-for="Cost" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <label asp-for="Category" class="form-label"></label>
                    <input asp-for="Category" class="form-control border-1 rounded" />
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="FoodImgUrl" class="form-label"></label>
                    <input asp-for="FoodImgUrl" class="form-control border-1 rounded" />
                    <span asp-validation-for="FoodImgUrl" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <input hidden asp-for="HotelName" class="form-control border-1 rounded" value="__" />
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="HotelId" class="form-label"></label>
                    <select asp-for="HotelId" class="form-control" asp-items="@(new SelectList(ViewBag.Hotels ?? new List<HotelDto>(), "HotelId", "HotelName"))">
                        <option value="">-- Select Hotel --</option>
                    </select>
                    <span asp-validation-for="HotelId" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <label asp-for="Discount" class="form-label"></label>
                    <input asp-for="Discount" class="form-control border-1 rounded" />
                    <span asp-validation-for="Discount" class="text-danger"></span>
                </div>
                <div class="col-md-6 pt-2 d-flex justify-content-center align-items-center">
                    <button class="btn btn-dark rounded w-25 fs-5 " asp-controller="Food" asp-action="AddFoods" type="submit">Add</button>
                </div>
            </div>
        </div>
    </form>
</div>



@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}